* {
  padding: 0px;
  margin: 0px;
}
/* social media wali patti header k opar */
.social_pati
{
    width: 100%;
    height: 15px;
    background-color: #F5F5F5;
}
/* font family */
body
{
    font-family: "Proxima Nova";
}
/* nav */
header {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
nav{
   
    align-self: center;
}
ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}
ul li {
  padding: 10px;
  align-self: center;
  font-size: 14px;
  color: dimgrey;
  align-self: center;
}
a {
  text-decoration: none;
  color: black;
}
/* nav end */
/* main1 start */
.main1
{
  display: flex;
  flex-direction: column;
  
}
.logo_img
{
    width: 150px;
    
}
/* gradieant in main */
.grad
{
    width: 100%;
    height: 30px;
    background-image: linear-gradient(to right, #ff785f, #ff2a45, #a143be);
    margin-top: 30px;
    display: flex;
    justify-content: center;
    color: white;
}
.grad p{
  align-self: center;
}
/* for test */
span
{
  padding: 10px;
}
/* setion join team */
.join_fom
{
  display: flex;
  width: 100%;
  height: 130PX;
  background-color: #000000;
  position: absolute;
  color: white;
  


}
/* join team k andar pra ka margin dene k lye *